<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movie" class="com.stackroute.Movie" scope="prototype" autowire="byName"/>
    <bean id="movie1" class="com.stackroute.Movie" scope="prototype" autowire="byType"/>
    <bean id="movie2" class="com.stackroute.Movie" scope="prototype" autowire="constructor"/>

    <bean id="actor" class="com.stackroute.Actor">
        <property name="name" value="Samantha"></property>
        <property name="gender" value="Female"></property>
        <property name="age" value="30"></property>
    </bean>

    <bean id="beanlifecycle" class="com.stackroute.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"/>
    <bean id="beanpostlifecycle" class="com.stackroute.BeanPostProcessorDemoBean" init-method="" destroy-method=""/>

</beans>









